# Ignore all data
data/*
!data/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log